body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow-y:visible;
}

form {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
}

label {
  display: block;
  margin: 5px;
}

input {
  width: 100%;
  padding: 8px;
  margin: 10px 5px;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  margin: 10px 5px;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  
}

table {
  margin-top: 15px;
  width: 100%;
  border-collapse: collapse;
}

th,td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

#searchElements {
  display: flex;
}
#searchElements {
  width: 60%;
}